<div class="business-promoter-profile">
  <div class="header-info-container">
    <h3><%= @promoter.name %></h3>
    <div class="header-info-text" id="header-info-mail">
      <a href="mailto:<%= @promoter.email %>"><%= @promoter.email %></a>
    </div>
    <div class="header-info-text" id="header-info-phone">
      <a href="tel:<%= @promoter.phone %>"><%= @promoter.phone %></a>
    </div>
    <br>
  </div>
  <div class="report-info-container">
    <div class="report-info-badget" id="credit">
      <div class="badget-value">
        <%= @credit %>
      </div>
      <div class="badget-title">
        Credit
      </div>
    </div>
    <div class="report-info-badget" id="clients">
      <div class="badget-value">
        <%= @referrals %>
      </div>
      <div class="badget-title">
        Clients
      </div>
    </div>
  </div>
  <div class="action-button-container">
    <%= link_to "Pay", "/business_promoters/payment/" + @promoter.id.to_s, class: "btn btn-default btn-action", method: :get  %>
    <%= link_to "History", "/business_promoters/history/" + @promoter.id.to_s, class: "btn btn-default btn-action", method: :get  %>
  </div>
  <div class="button-container">
    <%= link_to "Delete", "/business_promoters/" + @promoter.id.to_s, class: "btn btn-delete", method: :delete  %>
  </div>
</div>
