<div class="promoter-profile">
  <div class="header-info-container">
    <h3><%= @promoter.name %></h3>
    <div class="header-info-text" id="header-info-mail">
      <a href="mailto:<%= @promoter.email %>"><%= @promoter.email %></a>
    </div>
    <div class="header-info-text" id="header-info-phone">
      <a href="tel:<%= @promoter.phone %>"><%= @promoter.phone %></a>
    </div>
    <br>
  </div>
  <div class="report-info-container">
    <a href="#">
      <div class="report-info-badget">
        <div class="badget-value">
          <%= @referrals %>
        </div>
        <div class="badget-title">
          Referrals
        </div>
      </div>
    </a>
    <a href="#">
      <div class="report-info-badget">
        <div class="badget-value">
          <%= @deals %>
        </div>
        <div class="badget-title">
          Deals
        </div>
      </div>
    </a>
    <a href="#">
      <div class="report-info-badget">
        <div class="badget-value">
          <%= @promoters %>
        </div>
        <div class="badget-title">
          Promoters
        </div>
      </div>
    </a>
  </div>
</div>
