<div class="dashboard-container">
  <ul data-role="listview" data-filter="true" data-filter-placeholder="Search..." data-inset="false">
    <% @promoters_data.each do |promoter_data| %>
      <% promoter = promoter_data[:promoter] %>
      <li>
        <input type="hidden" value="<%= promoter.id %>" id="promoter_id"/>
        <div class="promoter-name">
          <a href="/business_promoters/<%= promoter.id %>">
            <h3><%= promoter.name %></h3>
          </a>
        </div>
        <div class="count-widget">
          <input type="text" data-role="spinbox" id="spin" value="0" min="0" max="100" />
        </div>
        <div class="img-check">
            <%= image_tag('check-icon.png') %>
          </div>
        <div class="resume-widget">
          <div class="credit-total">
            <p><%= promoter_data[:credit] %></p>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<script>
  $(function() {
    $(document).on('pageshow', 'div[data-role*="page"]', function () {
      (function () {
        init_widgets();
      })();
    });

    function init_widgets() {
      var img_check_elem_list = $('.ui-li-static .img-check img');

      var i = 0;
      for (i; i < img_check_elem_list.length; i++) {
        var img = img_check_elem_list[i];
        $(img).unbind('click');
        $(img).click(function(event) {
          event.preventDefault();
          var item_list = $(this).closest('.ui-li-static');
          var count_val = get_value_count(item_list);
          var promoter_id = get_promoter_id(item_list);
          var path = '/home/checkout/';
          $.ajax({
            type: 'POST',
            url: path,
            data: { promoter: promoter_id, referrals: count_val},
            async: false,
            success: function (data, status) {
              if (status === 'success') {
                set_value_count(item_list, 0);
                val_referrals = get_value_credit(item_list) + count_val;
                set_value_credit(item_list, val_referrals);
              }
            },
            error: function (err, data) {
              alert("Error " + err.responseText);
            }
          });
        });
      }
    }

    function get_promoter_id(item_list) {
      var promoter_input = $(item_list).find('#promoter_id');
      return $(promoter_input).val();
    }

    function get_value_count(item_list) {
      var spin = $(item_list).find('#spin');
      return parseInt($(spin).val());
    }

    function set_value_count(item_list, value) {
      var spin = $(item_list).find('#spin');
      return $(spin).val(value);
    }

    function get_value_credit(item_list) {
      var credit_p_element = $(item_list).find('.resume-widget p');
      return parseInt($(credit_p_element).text());
    }

    function set_value_credit(item_list, value) {
      var credit_p_element = $(item_list).find('.resume-widget p');
      $(credit_p_element).text(value);
    }
  });
</script>