<div class="dashboard-container">
  <ul data-role="listview" data-filter="true" data-filter-placeholder="Search..." data-inset="false">
    <% @business_promoters.each do |promoter| %>
      <li>
        <input type="hidden" value="<%= promoter.id %>" id="promoter_id"/>
        <div class="promoter-name">
          <a href="/business_promoters/<%= promoter.id %>">
            <h3><%= promoter.name %></h3>
          </a>
        </div>
        <div class="count-widget">
          <div class="img-minus">
            <%= image_tag('less-icon.png') %>
          </div>
          <div class="referrals-value">
            <p>0</p>
          </div>
          <div class="img-plus">
            <%= image_tag('more-icon.png') %>
          </div>
        </div>
        <div class="resume-widget">
          <div class="referrals-total">
            <% deal_rcd = @deals_rcd.where(promoter_id: promoter.id)
              if deal_rcd.size > 0
                deal = deal_rcd.first
              end
            %>
            <% if deal %>
              <p><%= deal.referrals %></p>
            <% else %>
              <p>0</p>
            <% end %>
          </div>
          <div class="img-check">
            <%= image_tag('previous2-icon.png') %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<script>
  $(function() {
    $(document).on('pageshow', 'div[data-role*="page"]', function () {
      (function () {
        init_widgets();
      })();
    });

    function init_widgets() {

      var img_minus_elem_list = $('.ui-li-static .img-minus img');
      var img_plus_elem_list = $('.ui-li-static .img-plus img');
      var img_check_elem_list = $('.ui-li-static .img-check img');

      var i = 0;
      for (i; i < img_minus_elem_list.length; i++) {
        var img = img_minus_elem_list[i];
        $(img).unbind('click');
        $(img).click(function(event) {
          var item_list = $(this).closest('.ui-li-static');
          modify_count_value(item_list, false);
          event.preventDefault();
        });
      }
      i = 0;
      for (i; i < img_plus_elem_list.length; i++) {
        var img = img_plus_elem_list[i];
        $(img).unbind('click');
        $(img).click(function(event) {
          var item_list = $(this).closest('.ui-li-static');
          modify_count_value(item_list, true);
          event.preventDefault();
        });
      }

      i = 0;
      for (i; i < img_check_elem_list.length; i++) {
        var img = img_check_elem_list[i];
        $(img).unbind('click');
        $(img).click(function(event) {
          event.preventDefault();
          var item_list = $(this).closest('.ui-li-static');
          var count_val = get_value_count(item_list);
          var promoter_id = get_promoter_id($(this));
          var path = '/home/checkout/'
          $.ajax({
            type: 'POST',
            url: path,
            data: { promoter: promoter_id, referrals: count_val},
            async: false,
            success: function (data, status) {
              if (status === 'success') {
                set_value_count(item_list, 0);
                val_referrals = get_value_referrals(item_list) + count_val;
                set_value_referrals(item_list, val_referrals);
              }
            },
            error: function (err, data) {
              alert("Error " + err.responseText);
            }
          });
        });
      }
    }

    function get_promoter_id(img) {
      var item_list = $(img).closest('.ui-li-static');
      var promoter_input = $(item_list).find('#promoter_id');
      return $(promoter_input).val();
    }

    function set_value_count(item_list, value) {
      var count_p_element = get_count_p_element(item_list);
      $(count_p_element).text(value);
    }

    function set_value_referrals(item_list, value) {
      var referrals_p_element = get_referrals_p_element(item_list);
      $(referrals_p_element).text(value);
    }

    function get_value_count(item_list) {
      var count_p_element = get_count_p_element(item_list);
      return parseInt($(count_p_element).text());
    }

    function get_value_referrals(item_list) {
      var referrals_p_element = get_referrals_p_element(item_list);
      return parseInt($(referrals_p_element).text());
    }

    function get_count_p_element(item_list) {
      return $(item_list).find('.count-widget p');
    }

    function get_referrals_p_element(item_list) {
      return $(item_list).find('.resume-widget p');
    }

    function modify_count_value(item_list, increment) {
      var count_value = get_value_count(item_list);
      if (increment) {
        count_value = count_value + 1;
      } else {
        if (count_value > 0) {
          count_value = count_value - 1;
        }
      }
      set_value_count(item_list, count_value);
    }
  });
</script>