<div class="business-profile">
  <div class="header-info-container">
    <h3><%= @business.name %></h3>
    <p><%= @business.address %></p>
    <div class="header-info-text" id="header-info-mail">
      <a href="mailto:<%= @business.email %>"><%= @business.email %></a>
    </div>
    <div class="header-info-text" id="header-info-phone">
      <a href="tel:<%= @business.phone %>"><%= @business.phone %></a>
    </div>
    <br>
    <div class="header-info-text" id="header-info-description">
      <p><%= @business.description %></p>
    </div>
  </div>
  <div class="report-info-container">
    <a href="#">
      <div class="report-info-badget">
        <div class="badget-value">
          <%= @referrals %>
        </div>
        <div class="badget-title">
          Clients
        </div>
      </div>
    </a>
    <a href="#">
      <div class="report-info-badget">
        <div class="badget-value">
          <%= @promoters %>
        </div>
        <div class="badget-title">
          Promoters
        </div>
      </div>
    </a>
  </div>
  <div class="button-container">
    <%= link_to "Log out", destroy_business_session_path, class: "btn btn-danger btn-sign-out", method: :delete  %>
  </div>
</div>
