<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @promoter.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @promoter.email %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @promoter.picture %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @promoter.phone %>
</p>

<%= link_to 'Edit', edit_promoter_path(@promoter) %> |
<%= link_to 'Back', promoters_path %>
