<!DOCTYPE html>
<html>
  <head>
    <title>Reco</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="my_container">
      <div data-role="page">
        <% p "User class: " + current_user.class.to_s %>
        <% p "BusinessUser class: " + current_business_user.class.to_s %>
        <div data-role="header" style="overflow:hidden;">
          <% if @role == 'User' %>
            <%= render('layouts/user/header_nav_bar.html.erb') %>
          <% else %>
            <%= render('layouts/business_user/header_nav_bar.html.erb') %>
          <% end %>
          <% if defined? @subheader and @subheader == true %>
            <%= render("layouts/subheader_nav_bar.html.erb") %>
          <% end %>
        </div>
        <div data-role="content">
          <%= yield %>
        </div>
        <div data-role="footer" data-position="fixed">
          <% if @role == 'User' %>
            <%= render('layouts/user/bottom_nav_bar.html.erb') %>
          <% else %>
            <%= render('layouts/business_user/bottom_nav_bar.html.erb') %>
          <% end %>
        </div>
      </div>
  </body>
</html>
