<!DOCTYPE html>
<html>
  <head>
    <title>Reco</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="my_container">
      <div data-role="page">
        <% if params[:controller] == "business_home" %>
          <div data-role="header">
            <h1>Reco app</h1>
          </div>
        <% end %>
        <div data-role="content">
          <%= yield %>
        </div>
        <div data-role="footer" data-position="fixed">
          <% if params[:controller] == "business_home" %>
            <%= render('layouts/bottom_nav_bar.html.erb') %>
          <% end %>
        </div>
      </div>
  </body>
</html>
