<!DOCTYPE html>
<html>
  <head>
    <title>Reco</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="my_container">
      <div data-role="page" id="main-page">
        <% p "Promoter class: " + current_promoter.class.to_s %>
        <% p "Business class: " + current_business.class.to_s %>
        <div data-role="header" style="overflow:hidden;">
          <% if @role == 'Promoter' %>
            <%= render('layouts/promoter/header_nav_bar.html.erb') %>
          <% else %>
            <%= render('layouts/business/header_nav_bar.html.erb') %>
          <% end %>
          <% if defined? @subheader and @subheader == true %>
            <%= render("layouts/subheader_nav_bar.html.erb") %>
          <% end %>
        </div>
        <div data-role="content">
          <div data-role="panel" id="right-panel" data-display="push" data-position="right" style="width: 300px; background-color: #000000">
          </div>
          <!-- <div data-role="panel" id="right-panel" data-display="push" data-position="right" data-theme="c">
            <p>Right push panel.</p>
            <a href="#" data-rel="close" data-role="button" data-mini="true" data-inline="true" data-icon="delete" data-iconpos="right">Close</a>
          </div> -->
          <%= yield %>
        </div>
        <div data-role="footer" data-position="fixed">
          <% if @role == 'Promoter' %>
            <%= render('layouts/promoter/bottom_nav_bar.html.erb') %>
          <% else %>
            <%= render('layouts/business/bottom_nav_bar.html.erb') %>
          <% end %>
        </div>
      </div>
  </body>
</html>
