<!DOCTYPE html>
<html>
  <head>
    <title>Reco</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= controller_assets %>
    <%= views_assets %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div data-role="page">
      <div data-role="header" style="overflow:hidden;">
        <% if params[:action] == 'edit' %>
          <% if @role == 'Promoter' %>
            <%= render('layouts/promoter/header_nav_bar.html.erb') %>
          <% else %>
            <%= render('layouts/business/header_nav_bar.html.erb') %>
          <% end %>
        <% end %>
      </div>
      <div data-role="content">
        <%= yield %>
      </div>
      <div data-role="footer" data-position="fixed">
        <%  if params[:action] == 'edit' %>
          <% if @role == 'Promoter' %>
            <%= render('layouts/promoter/bottom_nav_bar.html.erb') %>
          <% else %>
            <%= render('layouts/business/bottom_nav_bar.html.erb') %>
          <% end %>
        <% end %>
      </div>
    </div>
  </body>
</html>
